# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/

# Archivos de Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Configuración de IDEs / editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de coverage / testing
.coverage
.tox/
.pytest_cache/
htmlcov/
